<div class="card">
	<div class="card-body">
		<h1>About</h1>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati impedit ipsa, unde odit,
			aut libero voluptates repudiandae deleniti consectetur saepe, harum eaque in quia? Commodi
			quidem delectus, velit reprehenderit dolore in quam nostrum assumenda suscipit! Ab repellat
			quasi velit fuga!</p>
	</div>
</div>